/*body {
    background-color:antiquewhite
}
h1 {
    text-align: center;
    font-size: large;
    font-style: italic;
    color: black;
    
}
p {
    text-align: center;
    font-size: small;
    font-style: normal;
    color: black;
}
the above is commented out in order to keep web-challenge 3 and 4 seperated */